.cursor-clean-enabled {
  cursor: var(--cursor-clean);
}

.cursor-pat-enabled {
  cursor: var(--cursor-pat);
}

.cursor-food-enabled {
  cursor: var(--cursor-food);
}

:root {
  --cursor-clean: url('images/cursor_clean.png') 16 16, auto;
  --cursor-food: url('images/cursor_food.png') 16 16, auto;
  --cursor-pat: url('images/cursor_pat.png') 16 16, auto;
}
