/*! 
* SmallWorlds X CSS Widgets
* Description: Common CSS to be shared between homepage widgets.
* Author: Benjamin Robert
* Author: Justin Schwertmann
* URI: https://www.smallworlds.app/
* Created: 6/14/23
* Last Edited: 6/21/23
*/

:root{
	--widget-color-blue:rgb(63,251,244);
	--widget-color-blue-alt:rgb(70,203,252);
	--widget-color-ui:#efefff;
	--widget-color-progress-bg:#cdcddc;
	--widget-color-progress-fill:#00d200;
	--widget-color-progress-fill-alt:##ffffff79;
}
body, html{
	padding:0!important;
	margin:0!important;
}
.widget-ui{
	position:absolute;
	left:0;
    	width: 100%; /* Failsafe. */
    	width: -moz-available; /* Chromium. */
   	width: -webkit-fill-available;  /* Firefox. */
 	width: fill-available; /* Hopefully someday... */
	z-index:3;
}
#topUI{
	display:flex;
	flex-direction:row;
	top:0;
	height:60px;
	box-shadow:0px 6px 6px 0px #00000030 inset;
	padding:8px;
}
#bottomUI{
	bottom:0;
	background-color:var(--widget-color-ui);
	box-shadow:0px 0px 10px 4px #00000030;
	padding:15px 6px 24px 6px;
}

.bottom-m{
	height:86px;
}

.bottom-s{
	height:45px;
}

#careButtons{
	display:flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	cursor: pointer;
}

#loadingSpinner{
	
}

.progress-bar{
	margin:3px 2% 3px 5px;
	border:2px white solid;
	border-radius:10px;
	height:8px;
	background:var(--widget-color-progress-bg);
    	width: 100%; /* Failsafe. */
    	width: -moz-available; /* Chromium. */
   	width: -webkit-fill-available;  /* Firefox. */
 	width: fill-available; /* Hopefully someday... */
	box-shadow:inset 1px 2px 1px 0px rgba(35,35,35,0.1);
	overflow:hidden;
}

.progress-bar-fill{
	height:100%;
	width:25%;
	background-color:var(--widget-color-progress-fill);
	transition-duration:1s;
	transition-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1);
	box-shadow: inset 2px 2px 3px 0px var(--widget-color-progress-fill-alt);
}

.widget-box{
	position:relative;
	background: radial-gradient(circle, var(--widget-color-blue) 0%, var(--widget-color-blue-alt) 100%);
	background-color:lightblue;
	border-radius:12px;
	border:3px #3399bf solid;
	overflow:hidden;
}

.widget-s {
	height:350px;
	width:240px;
}

.widget-m {
	height:350px;
	width:365px;
}

.widget-l {
	height:350px;
	width:490px;
}


.widget-xl {
	height:400px;
	width:740px;
}

.widget-overlay-dismissed{
	animation: widgetLoadIn 1.2s ease-out forwards;
}

.widget-overlay{
	position:inherit;
	background: radial-gradient(circle, var(--widget-color-blue) 0%, var(--widget-color-blue-alt) 100%);
	background-color:lightblue;
    	width: 100%; /* Failsafe. */
    	width: -moz-available; /* Chromium. */
   	width: -webkit-fill-available;  /* Firefox. */
 	width: fill-available; /* Hopefully someday... */
	height:100%;
	overflow:hidden;
	opacity:1;
	z-index:15;
	display: flex;
    	align-items: center;
    	justify-content: center;
}

.widget-button{
	border-radius:8px;
	border:3px teal solid;
	outline:3px white solid;
	background-color: var(--widget-color-ui);
	padding:4px 8px;
	color:teal;
	font-weight:600;
}

@keyframes widgetLoadIn{
  0% {opacity: 1; }
  99% {opacity: .01;}
  100% {opacity: 0; z-index:-1;}
}